body {
  background-image: linear-gradient(#615dad, #ffc8da);
  margin-top: 50px;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.titulka,
.pravidla {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #283e50;
  color: #ffffff;
  margin: auto;
  border-radius: 15px 15px 0 0;
}

.titulka {
  text-align: center;
  width: 350px;
}

.pravidla {
  text-align: left;
  min-width: 270px;
}

h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

p {
  padding: 0 10px 10px 10px;
}

.hlavnifoto {
  width: 350px;
  border-radius: 15px 15px 0 0;
}

a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #ffffff;
}

.hratbtn {
  background-color: #0197f6;
  border-top: 1px solid #283e50;
  text-align: center;
}

.hratbtn:hover,
.hratbtn:focus {
  background-color: #0090e9;
}

.pravidlabtn,
.uvodnibtn {
  background-color: #1fcca4;
  text-align: center;
}

.pravidlabtn:hover,
.pravidlabtn:focus,
.uvodnibtn:hover,
.uvodnibtn:focus {
  background-color: #1cbb96;
}

/* Pouze část pravidla: */

.pravidla li {
  padding: 5px;
}

.pravidla h1 {
  padding-top: 20px;
}

ol.pravidlaList {
  padding: 0px 25px 10px 40px;
}

.kolecko,
.krizek {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
figure {
  margin: 16px 30px;
}

.pravidla .situaceImg {
  width: 100%;
}

.situaceText {
  text-align: center;
  font-style: italic;
}

@media (min-width: 570px) {
  .pravidla {
    min-width: 500px;
    max-width: 800px;
  }

  .situace {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 40px 0;
    padding: 0;
  }

  figure {
    flex: 0 0 45%;
    margin: 10px;
  }

  ol.pravidlaList {
    padding: 0px 40px 20px 50px;
  }
}

@media (min-width: 1400px) {
  .pravidla {
    min-width: 700px;
    max-width: 1000px;
  }
}

/* Pouze část hra */

.hraObsah{
  max-width: 80vmin;
  color:white;
  margin:auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hrajeTlacitka{
  display:flex;
  flex-wrap:nowrap;
  justify-content: space-between;
  width: 100%;
  height: 3.5em;
  margin: 10px;
}

.hraObsah p{
order: -1;
font-size: 16px;
}

.hraBtns{
  display:flex;
  flex-wrap: nowrap;
}

.restart{
  margin: 5px;
  border-radius: 5px;
}

a.restart.hratbtn{
  padding:8px;
}

a.home.uvodnibtn{
  padding:8px;
}

.home{
  margin: 5px;
  border-radius: 5px;
}

.hraciPole{
  display:flex;
  flex-wrap:wrap;
  width: 100%;
}

.hraTlacitko{
  margin:0;
  padding: 0;
  flex:1 1 10%;
  height:8vmin;
  background-color: whitesmoke;
  opacity: 0.6;
  border: 0.5px solid black;
}

.hraTlacitko:hover{
  opacity: 0.8;
}